.textField {

  margin: 0.5rem 0.25rem;
  
  label {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  input {
    border: 0;
    border-bottom: 1px solid #333;
    padding: 0.25rem 0.75rem;
  }

  &__error {
    color: #aa1212;
    font-size: 0.7rem;
    min-height: 0.7rem;
  }
}