%tab {
  background: #eee;
  border-bottom: 1px solid #333;
  padding: 1rem 1rem;

  a {
    color: #333;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;

    &:hover,
    &:visited {
      color: #333;
      text-decoration: none;
    }
  }
}

.tab {
  @extend %tab;
}

.tab__selected {
  @extend %tab;
  background: #333;

  a,
  a:hover,
  a:visited {
    color: #eee;
  }
}
