.tab {
  background: #eee;
  border-bottom: 1px solid #333;
  display: block;

  a {
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: 100%;

    &:hover,
    &:visited {
      color: #333;
      text-decoration: none;
    }
  }

  &__selected {
    background: #333;

    a,
    a:hover,
    a:visited {
      color: #eee;
    }
  }

  &__disabled {
    a,
    a:hover,
    a:visited {
      color: #aaa;
      cursor: not-allowed;
    }
  }
}